<!doctype html>
<html lang="{{ .Lang }}">

<head>
  {{ partial "head-meta" . }}

  <link rel="canonical" href="{{ .Permalink }}">

  <title>
    {{ block "title" . }}
    {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
    {{ end }}
  </title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css"
    crossorigin="anonymous">

  <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">

  {{ if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}

  {{ template "_internal/google_analytics_async.html" . }}

  {{ partial "head-custom.html" . }}

  {{ if .Params.wideTh }}
  <style type="text/css">
    {
        {
        range $index,
        $width: =.Params.wideTh
      }
    }

    th:nth-child( {
          {
          add $index 1
        }
      }

    ) {
      width: {
          {
          $width
        }
      }

      ;
    }

      {
        {
        end
      }
    }
  </style>
  {{ end }}

</head>

<body>
  {{ block "header" . }}
  {{ partial "header" . }}
  {{ end }}

  {{ block "body" . }}
  {{ if .Params.widepage}}
  <div class="container-fluid">
    {{ else }}
    <div class="container">
      {{ end }}
      <div class="row">
        <div class="col-12 col-lg-8 blog-main">

          {{ block "main" . }}
          {{ end }}

        </div>

        {{ partial "sidebar.html" . }}

      </div>
    </div>
    {{ end }}

    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{ end }}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>